body {
  background-image: url("assets/backgroundimage.png");
  background-repeat: no-repeat;
  background-size: cover; /* fills the screen */
  background-position: center; /* keeps it centered */
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
  font-family: arial;
}

h2 {
  text-align: left;
  margin-bottom: 10px;
  font-family: arial;
}

.content {
  padding: 0;
  font-family: arial;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: Arial;
}

.row {
  display: flex;
  flex-direction: row;
}

.img-container {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.content-text {
  width: 50%;
}

.content-image {
  width: 50%;
  justify-content: center;
}

.page-container {
  background-color: lightpink;
  margin-left: 280px;
  margin-right: 280px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.row a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.row {
  margin-bottom: 10px;
}
