body {
  background-color: lightpink;
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
  margin: 40px 0;
}

h2 {
  text-align: left;
  margin-bottom: 10px;
}

.content {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}
